@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #4f46e5;
  --color-dark-primary: #818cf8;
}

body {
  font-family: 'Inter Variable', sans-serif;
}
